

.account-settings-page-form-button{
    width: auto;
    align-self: center;
}

.account-settings-form{
    
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

input[type="file"]{
    align-self: center;
    width: 50%;
}

.confirm-submit{
    grid-column: 1/3;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

img#image{
    box-shadow: 2px 2px 4px grey;
    width: 60%;
    margin: 5%;
}

@media (orientation: landscape) {

    #account-settings-page-container{
        height: auto;
    }

    #account-settings-page-form-container{
        grid-row: 2;
    }
}

@media (orientation: portrait) {

    #account-settings-page-container{
        height: auto;
    }

    #account-settings-page-form-container{
        grid-row: 3;
    }
}